html(lang="ko")
  head
    title 나의 게시판
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/form.css")
  body
    header
      h1 나의 게시판
      p Welcome

    block content

    footer 
      address CopyRight&copy; crash2@naver.com